* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a{text-decoration: none}
html {
	-ms-touch-action: none;
}

body,ul,li {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	overflow: hidden; /* this is important to prevent the whole page to bounce */
}

#ir-bd-wrapper{position:absolute; width: 100%;overflow: hidden;top: 40px;left: 0px;bottom: 0px;}
.ir-bd-scroller{position: absolute;top: 0px; bottom: 0px;left: 0px;z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	
}

.ir-wrapper {position: relative;float: left;overflow: hidden;}
.ir-scroller {position: absolute;z-index: 1;width: 100%;background-color: #fff;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

/*  选项卡CSS*/
#ir-tabs-wrapper{height: 40px; overflow: hidden; z-index: 10000}
.ir-tabs-scroller{position: absolute; top: 0px; left: 0px; height: 40px; z-index: 10000; min-width: 100%; background-color: #f2f2f2;}
.ir-tabs-scroller a{display: inline-block; padding: 0px 10px; height: 40px; line-height: 40px; font-size: 14px; overflow: hidden; color: #333; float: left; text-align: center;}
.ir-tabs-scroller a.active{border-bottom: 1px solid green; color: green; font-weight: 600;}

.ir-down-tip{height: 60px; padding: 10px 0px; position: absolute; top: 0px;  width: 100%;  text-align:center; display: none }

.ir-down-tip span.ico{display: inline-block; width: 35px; height: 35px; background-image: url(ico2.png); background-size: 35px 35px;-webkit-background-size: 35px 35px; }
.ir-down-tip span.ico i{display: inline-block; width: 35px; height: 35px; background-image: url(ico1.png); -webkit-background-size: 35px 35px;background-size: 35px 35px;}
.ir-down-tip span.tip{ padding-left: 15px; line-height: 20px; font-size: 14px; display: inline-block; height: 40px;  text-align: left;}
.ir-down-tip span.tip b{display: block;}
.ir-down-tip span.tip i{display: block; font-size: 12px; color: #999; font-style: normal;}

.ir-up-tip{height: 45px; padding: 10px 0px; padding-bottom: 5px; position: absolute; bottom: 0px; left: 0px;  width: 100%;  text-align:center; display: none}
.ir-up-tip span.ico{display:inline-block; width: 30px; height: 30px; background-image: url(pull-icon@2x.png); -webkit-background-size: 30px;
background-size: 30px; transform:rotate(180deg); transition-duration:1s;}
.ir-up-tip span.ico.loading{background-position: 0 -30px; transition-duration:0s;  -webkit-animation:IRLoadingFrame 2s linear infinite;animation:loadingFrame 2s linear infinite;}
.ir-up-tip span.tip{ display: inline-block; vertical-align: top; padding-left: 10px;  line-height: 30px; font-size: 14px;  height: 30px;  text-align: left;}

@-webkit-keyframes IRLoadingFrame {
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}
keyframes IRLoadingFrame{
	0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}

div.loader { height: 200px; padding-top: 100px; text-align: center; border-bottom: 0px; background-color: #fff;}
	
@-webkit-keyframes line-scale {
  0% {-webkit-transform: scaley(1);transform: scaley(1); }
  50% {-webkit-transform: scaley(0.4);transform: scaley(0.4); }
  100% {-webkit-transform: scaley(1);transform: scaley(1); } 
}
@keyframes line-scale {
  0% {-webkit-transform: scaley(1);transform: scaley(1); }
  50% {-webkit-transform: scaley(0.4);transform: scaley(0.4); }
  100% {-webkit-transform: scaley(1);transform: scaley(1); } 
}

.line-scale > div:nth-child(1) {-webkit-animation: line-scale 1s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08);animation: line-scale 1s 0.1s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(2) {-webkit-animation: line-scale 1s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08);animation: line-scale 1s 0.2s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(3) {-webkit-animation: line-scale 1s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08);animation: line-scale 1s 0.3s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(4) {-webkit-animation: line-scale 1s 0.4s infinite cubic-bezier(.2, .68, .18, 1.08);animation: line-scale 1s 0.4s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div:nth-child(5) {-webkit-animation: line-scale 1s 0.5s infinite cubic-bezier(.2, .68, .18, 1.08);animation: line-scale 1s 0.5s infinite cubic-bezier(.2, .68, .18, 1.08); }
.line-scale > div {background-color: #f30;width: 4px;height: 35px;border-radius: 2px;margin: 2px;-webkit-animation-fill-mode: both;animation-fill-mode: both;display: inline-block; }



























